* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #000000;
}

.header {
    margin-bottom: 24px;
    background-color: #FFF6ED;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 60px 58px 0;
}

h1,
h2,
p {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1 {
    margin-bottom: 40px;
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
}

.list {
    display: flex;
}

.item:not(:last-child) {
    margin-right: 100px;
}

.item {
    max-width: 375px;
    margin-bottom: 42px;
}

.item span {
    display: inline-block;
    margin-top: 21px;
    margin-bottom: 6px;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
}

.orange {
   color: #FF7A00;
}

h2 {
    margin-bottom: 11px;
    font-size: 40px;
    line-height: 54px;
}

footer .container {
    display: flex;
    padding-bottom: 60px;
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-position-x: 720px;
    background-size: 550px;
}

.footer-left {
    max-width: 600px;
    margin-right: 180px;
}

.footer-list {
    display: flex;
    flex-wrap: wrap;
    width: 550px;
}

.footer-list li:not(:nth-child(4)) {
    margin-right: 88px;
}

.footer-list li:nth-child(5) {
    margin-left: 70px;
}

.footer-list a {
    display: inline-block;
}

.footer-list li,
.footer-list a {
    width: 70px;
    height: 70px;
}